
#header{
	color: #337ab7;
	font-family: 'merriweather', serif;
}

#gifDisplay{
	text-align: center;

}

button{
	background-color: #337ab7;
	color: white;
	border-radius: 15px;	
}

#submitButton{
	border-radius: 15px;
}

#animalButton{
	margin-right: 10px;
	margin-bottom: 10px;
	color:white;
}

#panelHead{
	text-align: center;
}

#gifText{
	font-family: 'merriweather', serif;
	border-bottom: solid #337ab7

}

.gif:hover{
	border:solid black;
}

button:hover{
	border:solid black;
}

#footer{
	display:inline-block;
	width:100%;
	text-align:center;
	background-color:#666666;
	color:white;
	margin-top:30px;
	border-top-style:solid;
	border-color:#337ab7;
	border-radius: 10px;
	border-width:5px;
	padding:15px;
}

.footerVerbiage{
	font-size: 12px;
	font-style: italic;
}