body{

}

.jumbotron{
	background-color: #337ab7;
	font-family: 'merriweather', serif;
}

#gifDisplay{
	text-align: center;

}

button{
	background-color: #337ab7;
	color: white;
	border-radius: 15px;
	width:50px;	
}

#submitButton{
	border-radius: 15px;
}

#animalButton{
	margin-right: 10px;
	margin-bottom: 10px;
	color:white;
}

#panelHead{
	text-align: center;
}

#gifText{
	font-family: 'merriweather', serif;
	border-bottom: solid #337ab7

}

.gif:hover{
	border:solid black;
}

button:hover{
	border:solid black;
}